section, footer {
  padding: 0 30px 30px 30px;
  max-width: 960px;
  margin: 0 auto;
}

header, footer {
  text-align: center;
}

hr {
  overflow: visible;
  padding: 0;
  border: none;
  border-top: medium double #54831f;
  color: #54831f;
  text-align:center;
}

hr:after{
 content: "✽";
 display: inline-block;
 position: relative;
 top: -0.55cm;
 font-size: 0.7cm;
 padding: 0 0.25cm;
 background: #fcfcfc;
}

#hero-container {
  margin: auto;
  max-width: 950px;
  padding: 0 30px;
}

#owner {
  background-image: url("img/owner.png");
  background-repeat: none;
  background-size: cover;
  background-position: 0 30%;
  height: 450px;
  width: 100%;
}

table {
  width: 100%;
}

.specials img {
  width: 200px;
}

.specials td {
  padding: 10px;
  text-align: center;
}

iframe { 
  width: 100%;
  height: 350px;
}